<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cimbalino.Toolkit.Core" version="1.2.6" targetFramework="portable-win81+wpa81" />
  <package id="Fody" version="1.28.3" targetFramework="portable-win81+wpa81" developmentDependency="true" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="portable-win81+wpa81" />
  <package id="Microsoft.Bcl.Compression" version="3.9.83" targetFramework="portable-win81+wpa81" />
  <package id="Newtonsoft.Json" version="7.0.1-beta2" targetFramework="portable-win81+wpa81" />
  <package id="PropertyChanged.Fody" version="1.49.1" targetFramework="portable-win81+wpa81" developmentDependency="true" />
</packages>